.calculatorDiv {
  height: 70vh;
  width: 69vw;
  background-color: var(--khaki);
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  margin-top: 1vh;
}

.calculatorHeading {
  top: 2%;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 10px;
  gap: 7px;
}

.row1{
  border-radius:1vw !important;
}